
/* main color */
$primary: #ffaa22;
$orange: #ff7700;
$blue: #3399ff;
$red: #ff4e33;
$green: #1ec077;
$gray: #575966;

/* front color */
$front1: #000000;
$front2: #444444;
$front3: #666666;
$front4: #888888;
$front5: #cccccc;

/* line color */
$color_line1: #ebebeb;

/* bg color */
$color_bg: #f1f1f1;
