/* 列表样式 */
.apps-list {
    min-height: 150px;
    /*background-color: white;*/
}

/*正常listView*/
.item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-size: 17px;
    background-color: white;
}

.item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.item-content {

}

.item:after {
    position: absolute;
    bottom: 0;
    content: ' ';
    height: 1px;
    width: 100%;
    transform: scaleY(0.5);
    background-color: #999999;
}

.item-normal {

}

.item-header .item-header-image {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: #999999;
}

.item-header .item-header-text {
    display: inline-block;
    font-size: 17px;
    padding-left: 0.25em;
}

.item-header-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    padding-left: 0.25em;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-image-rounded {
    border-radius: 50% !important;
}

.detail-title {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #000000;
}

.detail-desc {
    display: inline-block;
    font-size: 14px;
    color: #888888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.item-content .item-content-desc {
    display: inline-block;
    padding-right: 1em;
    color: #888888;
    font-size: 14px;
}

.item-arrow-right {
    display: inline-block;
    width: 7px;
    height: 13px;
    background: url("../imgs/arrow-right.png") no-repeat;
    background-size: 100%;
}

